Source: collectd-quagga
Maintainer: Vincent Bernat <bernat@debian.org>
Build-Depends: debhelper (>= 9),
               lsb-release

Package: collectd-quagga
Architecture: all
Depends: collectd-core
Description: plugin to collect metrics from Quagga
